[submodule "proto/bowler-proto"]
	path = proto/bowler-proto
	url = git@github.com:CommonWealthRobotics/bowler-proto.git
	branch = v0.3.1
[submodule "translator/bowler-script-kernel"]
	path = translator/bowler-script-kernel
	url = git@github.com:CommonWealthRobotics/bowler-script-kernel.git
