name: PublishReleaseArtifacts

on:
  release:
    types: [published]

jobs:
  PublishReleaseArtifacts:
    runs-on: ubuntu-18.04

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
          persist-credentials: false

      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
          java-package: jdk+fx

      - name: Cache Gradle packages
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
          restore-keys: ${{ runner.os }}-gradle

      - name: Build and Upload
        run: ./gradlew bintrayUpload
        env:
          BINTRAY_USER: ${{ BINTRAY_USER }}
          BINTRAY_API_KEY: ${{ BINTRAY_API_KEY }}